#content-page.news-page{
	padding-top: 72px;
}
#content-page.news-page{

	// news : begin
	.news{

		// one news : begin
		.one-news{
			margin-bottom: 40px;
		}
		.one-news{

			img{
				margin-bottom: 32px !important;
			}

			h3{
				margin: 0 !important; 
			}

		}
		// one news : end

	}
	// news : end

}