body {
  font-family: "OfficinaSansBook", sans-serif;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }

html {
  overflow: hidden; }

.button {
  border-radius: 5px;
  border: 1px #fff solid;
  line-height: 30px;
  height: 30px;
  padding: 0 10px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  transition: background 0.25s ease-out; }

.button:hover {
  border-color: #fe0;
  background: #fe0;
  transition: background 0.25s ease-in;
  color: #000; }

#header-page {
  height: 104px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  background: #222; }

#header-page > div {
  width: 940px;
  margin: 0 auto;
  position: relative; }

#header-page div > a:first-child {
  width: 244px;
  height: 48px;
  display: block;
  background: url("../images/main_elements.png") no-repeat top left;
  background-position: -312px -60px;
  margin-top: 30px;
  float: left; }

#header-page div > a:nth-child(2) {
  height: 25px;
  position: absolute;
  right: -10px;
  top: 0;
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  background: #fe0; }

#header-page div > a:nth-child(2) span {
  background: url("../images/main_elements.png") no-repeat top left;
  background-position: -606px 5px;
  padding: 0 17px;
  margin-left: 11px;
  display: block;
  margin-top: 2px; }

#header-page div > a:nth-child(2) span i {
  border-bottom: 1px #000 dotted;
  color: #000;
  font-family: "OfficinaSansBook", sans-serif;
  font-size: 10px;
  font-style: normal;
  text-transform: uppercase; }

#header-page div ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0; }
#header-page div li {
  margin: 0 30px 0 0;
  padding: 0;
  float: left;
  display: block;
  height: 104px; }
#header-page div li:last-child {
  margin-right: 0; }
#header-page div ul a {
  color: #fff;
  font-family: "OfficinaSansBook", sans-serif;
  font-size: 16px;
  line-height: 104px;
  text-decoration: none;
  transition: color 0.6s ease; }
#header-page div ul li.active a,
#header-page div ul a:hover {
  color: #00fff0;
  transition: color 0.3s ease; }

#content-page {
  position: relative;
  width: 100vw;
  height: 100vh; }

#content-page .first-slide {
  background: #0098a6;
  width: 100vw;
  height: 100vh; }
#content-page .first-slide > div {
  width: 940px;
  margin: 0 auto;
  height: 100vh;
  position: relative; }
#content-page .first-slide .text-wrapper {
  width: 380px;
  position: absolute;
  left: 0;
  top: 0;
  text-align: right;
  z-index: 101; }
#content-page .first-slide h1 {
  color: #fff;
  font-size: 65px;
  line-height: 0.83em;
  font-family: "OfficinaSansBold", sans-serif;
  margin: 0;
  padding: 0;
  opacity: 0; }
#content-page .first-slide h1 span {
  color: #fe0;
  display: block;
  padding: 0; }
#content-page .first-slide h1 span:after {
  width: 106px;
  height: 3px;
  background: #fff;
  display: block;
  content: '';
  margin: 15px 0 15px 8px;
  float: right; }
#content-page .first-slide p {
  font-size: 18px;
  line-height: 1.22em;
  margin: 0 0 5px;
  padding: 0;
  color: #fff;
  opacity: 0; }
#content-page .first-slide i {
  line-height: 1.285em;
  color: #fff;
  font-style: normal;
  font-size: 14px;
  font-family: "OfficinaSansBookItalic", sans-serif;
  display: block;
  margin-bottom: 14px;
  opacity: 0; }
#content-page .first-slide a {
  opacity: 0; }
#content-page .first-slide .first {
  background: url(../images/slide-1/1.png) no-repeat;
  width: 700px;
  height: 644px;
  position: absolute;
  left: 344px;
  top: 205px;
  z-index: 100;
  opacity: 1;
  transition: all 1.5s ease; }
#content-page .first-slide .first.null-pos {
  opacity: 0; }
#content-page .first-slide .glow {
  width: 355px;
  height: 549px;
  background: 0 0;
  -webkit-box-shadow: 18px -9px 141px -14px #99edfa;
  -moz-box-shadow: 18px -9px 141px -14px #99edfa;
  box-shadow: 18px -9px 141px -14px #99edfa;
  position: absolute;
  left: 487px;
  top: 205px;
  opacity: 1;
  z-index: 99;
  transition: all 3s ease; }
#content-page .first-slide .glow.null-pos {
  opacity: 0; }
#content-page .first-slide .second {
  background: url(../images/slide-1/2.png) no-repeat;
  width: 1054px;
  height: 880px;
  z-index: 99;
  position: absolute;
  left: 0;
  top: 10px;
  opacity: 1;
  transition: all 2s ease; }
#content-page .first-slide .second.null-pos {
  opacity: 0; }
#content-page .first-slide .third {
  background: url(../images/slide-1/3.png) 0 0 no-repeat;
  width: 291px;
  height: 170px;
  position: absolute;
  left: 180px;
  top: 104px;
  z-index: 99;
  display: none; }
#content-page .first-slide .fourth {
  background: url(../images/slide-1/4.png) 0 0 no-repeat;
  width: 378px;
  height: 213px;
  position: absolute;
  right: -130px;
  bottom: 20px;
  z-index: 99;
  display: none; }
#content-page .first-slide .next-slide {
  width: 74px;
  height: 61px;
  cursor: pointer;
  background: url("../images/main_elements.png") no-repeat top left;
  background-position: 0 -354px;
  position: absolute;
  left: 443px;
  bottom: 100px;
  z-index: 102;
  opacity: 0; }
#content-page .second-slide {
  width: 100vw;
  height: 100vh;
  background: #ffb50a;
  background: -moz-radial-gradient(center, ellipse cover, #ffc516 0%, #ffbe11 35%, #ffb50a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffc516), color-stop(35%, #ffbe11), color-stop(100%, #ffb50a));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #ffc516 0%, #ffbe11 35%, #ffb50a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #ffc516 0%, #ffbe11 35%, #ffb50a 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #ffc516 0%, #ffbe11 35%, #ffb50a 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #ffc516 0%, #ffbe11 35%, #ffb50a 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc516', endColorstr='#ffb50a',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
#content-page .second-slide > div {
  width: 940px;
  margin: 0 auto;
  height: 100vh;
  position: relative; }
#content-page .second-slide .text-wrapper {
  width: 355px;
  position: absolute;
  left: 505px;
  top: 0;
  text-align: left;
  z-index: 101; }
#content-page .second-slide h1 {
  color: #fff;
  font-size: 65px;
  line-height: 0.83em;
  font-family: "OfficinaSansBold", sans-serif;
  margin: 0;
  padding: 0;
  opacity: 0; }
#content-page .second-slide h1 span {
  color: #000;
  display: block;
  padding: 0; }
#content-page .second-slide h1 span:after {
  width: 106px;
  height: 3px;
  background: #fff;
  display: block;
  content: '';
  float: none;
  margin: 25px 0 16px 0; }
#content-page .second-slide p {
  font-size: 18px;
  line-height: 1.22em;
  margin: 0 0 5px;
  padding: 0;
  color: #000;
  margin-bottom: 8px;
  opacity: 0; }
#content-page .second-slide a {
  color: #000;
  border-color: #000;
  opacity: 0; }
#content-page .second-slide a:hover {
  background: #fff;
  border-color: #fff;
  color: #000; }
#content-page .second-slide .first {
  background: url(../images/slide-2/1.png) no-repeat;
  width: 850px;
  height: 611px;
  position: absolute;
  left: -202px;
  top: 220px;
  z-index: 100;
  opacity: 1;
  transition: all 1.5s ease;
  transition-delay: 0.75s; }
#content-page .second-slide .first.null-pos {
  opacity: 0; }
#content-page .second-slide .second {
  background: url(../images/slide-2/2.png) no-repeat;
  width: 998px;
  height: 619px;
  z-index: 99;
  position: absolute;
  left: -42px;
  top: 145px;
  opacity: 1;
  transition: all 2s ease; }
#content-page .second-slide .second.null-pos {
  opacity: 0; }
#content-page .second-slide .next-slide {
  width: 74px;
  height: 61px;
  cursor: pointer;
  background: url("../images/main_elements.png") no-repeat top left;
  background-position: 0 -354px;
  position: absolute;
  left: 443px;
  bottom: 100px;
  z-index: 102;
  opacity: 0; }
#content-page .third-slide {
  background: #0098a6;
  width: 100vw;
  height: 100vh;
  background: #0098a6;
  background: -moz-radial-gradient(center, ellipse cover, #00adb9 0%, #00a9b5 29%, #0097a5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #00adb9), color-stop(29%, #00a9b5), color-stop(100%, #0097a5));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #00adb9 0%, #00a9b5 29%, #0097a5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #00adb9 0%, #00a9b5 29%, #0097a5 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #00adb9 0%, #00a9b5 29%, #0097a5 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #00adb9 0%, #00a9b5 29%, #0097a5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00adb9', endColorstr='#0097a5',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
#content-page .third-slide > div {
  width: 940px;
  margin: 0 auto;
  height: 100vh;
  position: relative; }
#content-page .third-slide .text-wrapper {
  width: 320px;
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  z-index: 101; }
#content-page .third-slide h1 {
  color: #fff;
  font-size: 65px;
  line-height: 0.83em;
  font-family: "OfficinaSansBold", sans-serif;
  margin: 0;
  padding: 0;
  opacity: 0; }
#content-page .third-slide h1 span {
  color: #000;
  display: block;
  padding: 0; }
#content-page .third-slide h1 span:after {
  width: 106px;
  height: 3px;
  background: #fff;
  display: block;
  content: '';
  float: none;
  margin: 25px 0 16px 0; }
#content-page .third-slide p {
  font-size: 18px;
  line-height: 1.22em;
  margin: 0 0 5px;
  padding: 0;
  color: #fff;
  margin-bottom: 8px;
  opacity: 0; }
#content-page .third-slide a {
  opacity: 0; }
#content-page .third-slide .first {
  background: url(../images/slide-3/1.png) no-repeat;
  width: 1400px;
  height: 778px;
  position: absolute;
  left: -90px;
  top: 104px;
  z-index: 100;
  opacity: 1;
  transition: all 1.5s ease;
  transition-delay: 0.75s; }
#content-page .third-slide .first.null-pos {
  opacity: 0; }
#content-page .third-slide .second {
  background: url(../images/slide-3/2.png) no-repeat;
  width: 799px;
  height: 488px;
  z-index: 99;
  position: absolute;
  left: 272px;
  top: 189px;
  opacity: 1;
  transition: all 2s ease; }
#content-page .third-slide .second.null-pos {
  opacity: 0; }
#content-page .third-slide .next-slide {
  width: 74px;
  height: 61px;
  cursor: pointer;
  background: url("../images/main_elements.png") no-repeat top left;
  background-position: 0 -354px;
  position: absolute;
  left: 443px;
  bottom: 100px;
  z-index: 102;
  opacity: 0; }
#content-page .fourth-slide {
  width: 100vw;
  height: 100vh;
  background: #ffb50a;
  background: -moz-radial-gradient(center, ellipse cover, #ffc516 0%, #ffbe11 35%, #ffb50a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffc516), color-stop(35%, #ffbe11), color-stop(100%, #ffb50a));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #ffc516 0%, #ffbe11 35%, #ffb50a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #ffc516 0%, #ffbe11 35%, #ffb50a 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #ffc516 0%, #ffbe11 35%, #ffb50a 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #ffc516 0%, #ffbe11 35%, #ffb50a 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc516', endColorstr='#ffb50a',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
#content-page .fourth-slide > div {
  width: 940px;
  margin: 0 auto;
  height: 100vh;
  position: relative; }
#content-page .fourth-slide .text-wrapper {
  width: 470px;
  position: absolute;
  left: 470px;
  top: 0;
  text-align: left;
  z-index: 101; }
#content-page .fourth-slide h1 {
  color: #fff;
  font-size: 65px;
  line-height: 0.83em;
  font-family: "OfficinaSansBold", sans-serif;
  margin: 0;
  padding: 0;
  opacity: 0; }
#content-page .fourth-slide h1 span {
  color: #000;
  display: block;
  padding: 0; }
#content-page .fourth-slide h1 span:after {
  width: 106px;
  height: 3px;
  background: #fff;
  display: block;
  content: '';
  float: none;
  margin: 25px 0 16px 0; }
#content-page .fourth-slide article {
  opacity: 1;
  margin-bottom: 16px;
  opacity: 0; }
#content-page .fourth-slide article a {
  font-size: 18px;
  line-height: 1.22em;
  text-decoration: underline;
  color: #000;
  display: inline-block;
  margin-bottom: 7px; }
#content-page .fourth-slide article a:hover {
  color: #fff; }
#content-page .fourth-slide article span {
  color: #9a6b00;
  font-size: 14px;
  line-height: 1.285em;
  font-family: "OfficinaSansBookItalic", sans-serif;
  font-style: normal;
  display: block; }
#content-page .fourth-slide a.button {
  color: #000;
  border-color: #000;
  opacity: 0; }
#content-page .fourth-slide a.button:hover {
  background: #fff;
  border-color: #fff;
  color: #000; }
#content-page .fourth-slide .first {
  background: url(../images/slide-4/1.png) no-repeat;
  width: 886px;
  height: 558px;
  position: absolute;
  left: -290px;
  top: 289px;
  z-index: 100;
  opacity: 1;
  transition: all 1.5s ease;
  transition-delay: 0.75s; }
#content-page .fourth-slide .first.null-pos {
  opacity: 0; }
#content-page .fourth-slide .glow {
  width: 529px;
  height: 377px;
  background: 0 0;
  -webkit-box-shadow: 10px -11px 122px -15px white;
  -moz-box-shadow: 10px -11px 122px -15px white;
  box-shadow: 10px -11px 122px -15px white;
  position: absolute;
  left: -135px;
  top: 310px;
  opacity: 1;
  z-index: 99;
  transition: all 3s ease; }
#content-page .fourth-slide .glow.null-pos {
  opacity: 0; }
#content-page .fourth-slide .second {
  background: url(../images/slide-4/2.png) no-repeat;
  width: 1062px;
  height: 676px;
  z-index: 99;
  position: absolute;
  left: -170px;
  top: 120px;
  opacity: 1;
  transition: all 2s ease; }
#content-page .fourth-slide .second.null-pos {
  opacity: 0; }
#content-page .fourth-slide .next-slide {
  width: 74px;
  height: 61px;
  cursor: pointer;
  background: url("../images/main_elements.png") no-repeat top left;
  background-position: 0 -354px;
  position: absolute;
  left: 443px;
  bottom: 100px;
  z-index: 102;
  opacity: 0; }
#content-page .fifth-slide {
  background: #0098a6;
  width: 100vw;
  height: 100vh;
  background: #0098a6;
  background: -moz-radial-gradient(center, ellipse cover, #52b8c2 0%, #3db0bb 29%, #0197a5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #52b8c2), color-stop(29%, #3db0bb), color-stop(100%, #0197a5));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #52b8c2 0%, #3db0bb 29%, #0197a5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #52b8c2 0%, #3db0bb 29%, #0197a5 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #52b8c2 0%, #3db0bb 29%, #0197a5 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #52b8c2 0%, #3db0bb 29%, #0197a5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b8c2', endColorstr='#0197a5',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
#content-page .fifth-slide > div {
  width: 940px;
  margin: 0 auto;
  height: 100vh;
  position: relative; }
#content-page .fifth-slide .text-wrapper {
  width: 320px;
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  z-index: 101; }
#content-page .fifth-slide h1 {
  color: #fff;
  font-size: 65px;
  line-height: 0.83em;
  font-family: "OfficinaSansBold", sans-serif;
  margin: 0;
  padding: 0;
  opacity: 0; }
#content-page .fifth-slide h1 span {
  color: #000;
  display: block;
  padding: 0; }
#content-page .fifth-slide h1 span:after {
  width: 106px;
  height: 3px;
  background: #fff;
  display: block;
  content: '';
  float: none;
  margin: 25px 0 16px 0; }
#content-page .fifth-slide p {
  font-size: 18px;
  line-height: 1.22em;
  margin: 0 0 5px;
  padding: 0;
  color: #fff;
  margin-bottom: 15px;
  opacity: 0; }
#content-page .fifth-slide p a {
  text-decoration: underline;
  color: #fff; }
#content-page .fifth-slide a.button {
  opacity: 0; }
#content-page .fifth-slide .first {
  background: url(../images/slide-5/1.png) no-repeat;
  width: 719px;
  height: 537px;
  position: absolute;
  left: 320px;
  top: 249px;
  z-index: 100;
  opacity: 1;
  transition: all 1.5s ease;
  transition-delay: 0.75s; }
#content-page .fifth-slide .first.null-pos {
  opacity: 0; }
#content-page .fifth-slide .second {
  background: url(../images/slide-5/2.png) no-repeat;
  width: 647px;
  height: 296px;
  z-index: 99;
  position: absolute;
  left: 286px;
  top: 172px;
  opacity: 1;
  transition: all 2s ease; }
#content-page .fifth-slide .second.null-pos {
  opacity: 0; }

#footer-page {
  height: 57px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #222; }

#footer-page > div {
  width: 940px;
  margin: 0 auto;
  position: relative; }

#footer-page .left-col {
  width: 50%;
  float: left;
  height: 57px; }
#footer-page .left-col p {
  text-align: left;
  height: 57px;
  line-height: 57px;
  font-size: 23px;
  color: #9c9c9c;
  font-family: "OfficinaSansBook", sans-serif;
  margin: 0;
  padding: 0;
  width: 291px;
  text-align: center;
  display: block;
  border-right: 1px #656565 solid; }
#footer-page .left-col p:before {
  float: left;
  display: block;
  content: ' ';
  width: 20px;
  height: 28px;
  background: url("../images/main_elements.png") no-repeat top left;
  background-position: -104px -260px;
  height: 57px;
  width: 61px;
  border-left: 1px #656565 solid;
  border-right: 1px #656565 solid; }
#footer-page .left-col span {
  font-size: 28px;
  color: #fe0; }
#footer-page .right-col {
  width: 50%;
  float: right;
  height: 57px; }
#footer-page .right-col p {
  text-align: right;
  height: 57px;
  line-height: 57px;
  font-size: 14px;
  color: #fff;
  font-family: "OfficinaSansBook", sans-serif;
  margin: 0;
  padding: 0; }
#footer-page .right-col a {
  color: #00efff;
  text-decoration: underline; }

.pop-up {
  width: 460px;
  display: none; }

.pop-up input[type="text"],
.pop-up input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #cbcbcb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  color: #a9a9a9;
  font-size: 15px;
  font-weight: 700;
  padding: 1px 10px 0;
  margin: 0 0 15px;
  width: 261px;
  height: 36px;
  display: block;
  outline: 0; }
.pop-up textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #cbcbcb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  color: #a9a9a9;
  font-size: 15px;
  font-weight: 700;
  padding: 8px 10px 0;
  margin: 0 0 15px;
  width: 261px;
  height: 100px;
  display: block;
  outline: 0; }
.pop-up input[type="text"]:focus,
.pop-up textarea:focus {
  color: #5a5a5a; }
.pop-up input[type="submit"] {
  border: 1px solid #00aaba;
  height: 39px;
  text-align: center;
  line-height: 39px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjFjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYmRjZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(bottom, #00b1c2 0%, #00bdcf 100%);
  background-image: -o-linear-gradient(bottom, #00b1c2 0%, #00bdcf 100%);
  background-image: -webkit-linear-gradient(bottom, #00b1c2 0%, #00bdcf 100%);
  background-image: linear-gradient(bottom, #00b1c2 0%, #00bdcf 100%);
  color: #f2fdff;
  font-size: 20px;
  font-weight: bold;
  padding: 0 36px;
  display: block;
  margin: 0 auto;
  outline: none;
  margin-top: 20px; }

#modal-window-signup-login {
  padding: 30px 0 25px; }

#modal-window-signup-login .header {
  text-align: center;
  margin: 0 0 33px; }
#modal-window-signup-login .header a {
  font-family: "OfficinaSansBold", sans-serif;
  font-size: 28px;
  line-height: 1em;
  text-decoration: none;
  color: #000;
  display: inline-block; }
#modal-window-signup-login .header a:first-child {
  margin-right: 30px; }
#modal-window-signup-login .header a.passive {
  display: inline-block;
  color: #00b5c1;
  text-decoration: none;
  border-bottom: 1px #00b5c1 dotted; }
#modal-window-signup-login .content form {
  width: 283px;
  margin: 0 auto; }
#modal-window-signup-login .content form.sign-in p {
  text-align: center;
  margin: 13px 0 0;
  color: #000; }
#modal-window-signup-login .content form.sign-in p a {
  color: #00b5c1;
  font-size: 15px;
  border-bottom: 1px #00b5c1 dotted;
  text-decoration: none; }
#modal-window-signup-login .content form.sign-up {
  display: none; }
#modal-window-signup-login .content form.sign-up input[type="submit"] {
  margin: 20px auto 20px; }
#modal-window-signup-login .content form.sign-up p {
  text-align: center;
  margin: 13px 0 0;
  color: #000; }
#modal-window-signup-login .content form.sign-up p a {
  color: #00b5c1;
  font-size: 15px;
  border-bottom: 1px #00b5c1 dotted;
  text-decoration: none; }
#modal-window-signup-login .content form.forgot-pass {
  display: none; }
#modal-window-signup-login .content form.forgot-pass p {
  text-align: center;
  margin: 13px 0 0;
  color: #000; }
#modal-window-signup-login .content form.forgot-pass p a {
  color: #00b5c1;
  font-size: 15px;
  border-bottom: 1px #00b5c1 dotted;
  text-decoration: none; }

#modal-window-feedback {
  padding: 30px 0 25px; }

#modal-window-feedback span {
  font-family: OfficinaSansBold,sans-serif;
  font-size: 38px;
  color: #000;
  display: block;
  text-align: center;
  margin: 0 0 25px; }
#modal-window-feedback form {
  width: 283px;
  margin: 0 auto; }

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.99); }

/* change border to transparent and set only border-top to a solid color */
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 3px solid #ffc130;
  z-index: 1500;
  border: 3px solid transparent;
  border-top-color: #ffc130;
  /* #loader, #loader:before, #loader:after */
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  /* include this only once */ }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid #ffc133;
  border: 3px solid transparent;
  border-top-color: #ffc133;
  /* #loader, #loader:before, #loader:after */
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  /* include this only once */ }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid #0097a5;
  border: 3px solid transparent;
  border-top-color: #0097a5;
  /* #loader, #loader:before, #loader:after */
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  /* include this only once */ }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }
#loader {
  border-radius: 50%; }

#loader:before {
  border-radius: 50%; }

#loader:after {
  border-radius: 50%; }

@font-face {
  font-family: "OfficinaSansBook";
  src: url("../fonts/OfficinaSansBook/OfficinaSansBook.eot");
  src: url("../fonts/OfficinaSansBook/OfficinaSansBook.eot?#iefix") format("embedded-opentype"), url("../fonts/OfficinaSansBook/OfficinaSansBook.woff") format("woff"), url("../fonts/OfficinaSansBook/OfficinaSansBook.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OfficinaSansBookItalic";
  src: url("../fonts/OfficinaSansBookItalic/OfficinaSansBookItalic.eot");
  src: url("../fonts/OfficinaSansBookItalic/OfficinaSansBookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OfficinaSansBookItalic/OfficinaSansBookItalic.woff") format("woff"), url("../fonts/OfficinaSansBookItalic/OfficinaSansBookItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OfficinaSansBold";
  src: url("../fonts/OfficinaSansBold/OfficinaSansBold.eot");
  src: url("../fonts/OfficinaSansBold/OfficinaSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OfficinaSansBold/OfficinaSansBold.woff") format("woff"), url("../fonts/OfficinaSansBold/OfficinaSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/*# sourceMappingURL=production.css.map */
