/*
** COLORS VARIABLES
** Docs. http://breakpoint-sass.com
** Classic Media Queries. https://goo.gl/uUTZRd
*/
$desktop-breakpoint: min-width 1200px;
$tablet-breakpoint: max-width 760px;
$mobile-breakpoint: max-width 320px;
