.page-404{
	margin: 0 0 70px;
}
.page-404{

	.grid_12{
		position: relative;
	}

		.text{
			position: absolute;
			left: 197px; top: 470px;
		}
		.text{

			h1{
				color: #0c5cb7;
				font-size: 34px;
				line-height: 1em;
				font-family: $fontBold;
				margin: 0 0 9px;
			}

			p{
				font-size: 13px;
				font-family: $fontRegular;
				color: #545454;
				line-height: 1.27em;
				margin: 0 0 9px;
			}

			p{}

				p a{
					color: #008bbf;
					text-decoration: underline;
				}

		}

}