.b-advantages{
    padding: 31px 0 66px 0;
    background: #391d1a;
    
    // one column
    .one-col{
        @include span(4 of 12);
        text-align: center;
        
        span{
            display: inline-block;
            margin-bottom: 28px;
            
            &.icon-cake-1{
                @include sprite($icon-cake-1);
            }
            
            &.icon-cake-2{
                @include sprite($icon-cake-2);
            }
            
            &.icon-cake-3{
                @include sprite($icon-cake-3);
            }
        }
        
        p{
            color: white;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
        }
    }
}