.b-soc-networks {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 17px;
    margin: -55px 0 0 0;

    a {
        width: 30px;
        height: 30px;
        display: block;
        border: 2px #fcfcfc solid;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 16px 16px;
        transition: border-color 0.7s ease-in;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);

        &.freelansim {
            margin-bottom: 10px;
            background-image: url(../img/social-icons/icon-freelansim-white.svg);
        }

        &.github {
            margin-bottom: 10px;
            background-image: url(../img/social-icons/icon-github-white.svg);
        }

        &.vk {
            background-image: url(../img/social-icons/icon-vk-white.svg);
        }
    }

    &.black {
        a {
            transition: border-color 0.7s ease-in;
            border-color: #000;

            &.freelansim {
                background-image: url(../img/social-icons/icon-freelansim-black.svg);
            }

            &.github {
                background-image: url(../img/social-icons/icon-github-black.svg);
            }

            &.vk {
                background-image: url(../img/social-icons/icon-vk-black.svg);
            }
        }
    }
}

@media screen and (max-width: 799px) {
    .b-soc-networks {
        display: none;
    }
}