// Include mixins
// default btn : begin
@mixin default-btn {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    border: 1px solid #f7d180;
    outline: none;
    text-decoration: none;
    //padding: 9px 20px;
    padding: 0 20px;
    font-family: $secondary-font;
    border-radius: 0;
    font-weight: normal;
    //line-height: normal !important;
    line-height: 34px;
    text-transform: uppercase;
    color: #f7d180;
    font-size: 14px;
    background-color: transparent;
    transition: all 0.2s ease-in;

    &:hover {
        background: #f7d180;
        color: #341b18;
        transition: all 0.15s linear;
    }
}

.b-button {
    @include default-btn;
}

// default btn : end