/*
** TYPOGRAPHY
** font-face
** @import
** basic styles
*/
@font-face {
	font-family: 'Vollkorn';
	src: url('../fonts/vollkorn/medium/Vollkorn-Medium_gdi.eot');
	src: url('../fonts/vollkorn/medium/Vollkorn-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/vollkorn/medium/Vollkorn-Medium_gdi.woff') format('woff'),
		url('../fonts/vollkorn/medium/Vollkorn-Medium_gdi.ttf') format('truetype'),
		url('../fonts/vollkorn/medium/Vollkorn-Medium_gdi.otf') format('opentype'),
		url('../fonts/vollkorn/medium/Vollkorn-Medium_gdi.svg#Vollkorn-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB02;
}

@font-face {
	font-family: 'Vollkorn';
	src: url('../fonts/vollkorn/semibold/Vollkorn-Semibold_gdi.eot');
	src: url('../fonts/vollkorn/semibold/Vollkorn-Semibold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/vollkorn/semibold/Vollkorn-Semibold_gdi.woff') format('woff'),
		url('../fonts/vollkorn/semibold/Vollkorn-Semibold_gdi.ttf') format('truetype'),
		url('../fonts/vollkorn/semibold/Vollkorn-Semibold_gdi.otf') format('opentype'),
		url('../fonts/vollkorn/semibold/Vollkorn-Semibold_gdi.svg#Vollkorn-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB02;
}
// FONT FACE : end

html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: $primary-font;
    font-size: 15px;
    line-height: 1.473;
    font-size: 19px;
    color: $color-primary;
    text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h5, p, ul, ol, li {
	margin: 0;
	padding: 0;
}
