.b-scroll-to {
    display: block;
    width: 164px;
    height: 41px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -82px;
    cursor: pointer;

    &.-next-slide {
        background: transparent url('../img/other/arrow-scroll-bottom.svg') left top no-repeat;
    }

    &.-top-slide {
        background: transparent url('../img/other/arrow-scroll-top.svg') left top no-repeat;
    }
}