.b-form{
	input[type="hidden"]{
		width: 0 !important;
		height: 0 !important;
		border: none !important;
		outline: none !important;
	}

	// default input
	@mixin defaultInput ($placeholderColor: #a0844a){
		width: 100%;
		box-sizing: border-box;
		outline: none;
		display: block;
		line-height: normal;
		font-family: $secondary-font;
        color: #a0844a;
        padding: 10px;
        font-size: 14px;
        background-color: white;
        border: 1px solid #f7d182;
		transition: all 0.24s ease-out;

		&:focus{
			outline: none;
			transition: all 0.24s ease;
		}

        &.error{
            border-color: #d01b4e;
            border-width: 2px;
            padding: 9px;
            transition: all 0.24s ease;
        }

		&::-webkit-input-placeholder {color: $placeholderColor;}
		&::-moz-placeholder          {color: $placeholderColor;} // Firefox 19+
		&:-moz-placeholder           {color: $placeholderColor;} // Firefox 18-
		&:-ms-input-placeholder      {color: $placeholderColor;}

		&:focus::-webkit-input-placeholder {color: transparent}
		&:focus::-moz-placeholder          {color: transparent}
		&:focus:-moz-placeholder           {color: transparent}
		&:focus:-ms-input-placeholder      {color: transparent}
	}

	// default textarea
	@mixin defaultTextarea ($placeholderColor: #a0844a){
		width: 100%;
		box-sizing: border-box;
		outline: none;
		display: block;
		line-height: 1.2;
		resize: vertical;
        font-family: $secondary-font;
        color: #a0844a;
        padding: 10px;
        font-size: 14px;
        background-color: white;
        border: 1px solid #f7d182;
        transition: all 0.24s ease-out;

		&:focus{
			outline: none;
			transition: all 0.24s ease;
		}

		&::-webkit-input-placeholder {color: $placeholderColor; padding: 1px 0 0 0;}
		&::-moz-placeholder          {color: $placeholderColor; padding: 1px 0 0 0;} // Firefox 19+
		&:-moz-placeholder           {color: $placeholderColor; padding: 1px 0 0 0;} // Firefox 18-
		&:-ms-input-placeholder      {color: $placeholderColor; padding: 1px 0 0 0;}

		&:focus::-webkit-input-placeholder {color: transparent}
		&:focus::-moz-placeholder          {color: transparent}
		&:focus:-moz-placeholder           {color: transparent}
		&:focus:-ms-input-placeholder      {color: transparent}

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"] {
		@include defaultInput;
	}

	textarea {
		@include defaultTextarea;
	}

	label,
	legend {
		display: block;
	}

	fieldset {
		padding: 0;
		border-width: 0;
	}

	input[type="checkbox"],
	input[type="radio"] {
		display: inline;
	}
}