/*
** CONTENT PAGE
*/
.b-content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    text-align: left;
    &__container {
        position: relative;
        z-index: 3;
        width: 100vw;
        padding: 3rem 3.1rem;
        @include breakpoint($tablet-breakpoint) {
            padding: 2rem 2.1rem;
        }
        @include breakpoint($mobile-breakpoint) {
            padding: 1rem 1.1rem;
        }
    }
    &__title {
        font-weight: 600;
        line-height: 1.05;
        margin: 0 0 24px;
        font-size: 50px;
        @include breakpoint($tablet-breakpoint) {
            font-size: 30px;
        }
        @include breakpoint($mobile-breakpoint) {
            font-size: 20px;
            margin-bottom: 16px;
        }
    }
    &__text {
        // font-size: 16px;
    }
    &__link {
        color: $color-primary;
    }
    &__flying-flies{
        background-color: rgba($color-secondary, 0.2);
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0.5;
    }
}
