#content-page{
	border: 1px #d8d8d8 solid;
	padding: 11px 15px;
	outline: none;
	border-radius: 3px;
	overflow: hidden;
	min-height: 300px;
	position: relative;
	top: 230px;
	transition: all 0.2s ease;

	&:focus{
		background: #fefefe;
		border-color: #cacaca;
		box-shadow: 0 1px 12px 2px rgba(0,0,0,0.15);
		transition: all 0.2s ease;
	}
}