// FONTS : begin
// Open Sans
$OpenSans: 'Open Sans', sans-serif;

// RopaSansSCPro
$RopaSansSCProRegular: 'RopaSansSCPro-Regular', sans-serif;
$RopaSansSCProMedium: 'RopaSansSCPro-Medium', sans-serif;
// FONTS : end