body{
	font-family: $secondaryFont;
	font-size: 14px;
	line-height: 1.6;
	color: #010101;
	text-rendering: optimizeLegibility;
	-webkit-text-rendering: optimizeLegibility;
}

// h1-h6 titles : begin
h1, h2, h3, h4, h5, h6{
	margin: 0; padding: 0;
	font-family: $defaultFont;

	&:last-child{ margin-bottom: 0; }
}
h1{
	font-size: 28px;
	margin-bottom: 15px;
	line-height: 1.42;
}

h2, h3, h4, h5, h6{
	font-size: 22px;
	margin-bottom: 12px;
	line-height: 1.42;
}
// h1-h6 titles : end

// text (link, bold, italic) : begin
p{
	margin: 0 0 12px; padding: 0;
	font-family: $defaultFont;

	&:last-child{ margin-bottom: 0; }

	b{
		font-family: $defaultFont;
		font-weight: bold;
	}

	i{
		font-family: $defaultFont;
		font-style: italic;
	}
}
a{
	font-family: $defaultFont;
	color: #31a2c7;

	&:hover{
	}

	&:active{
	}

	&:visited{
	}
}
// text (link, bold, italic) : end

// bulleted list : begin
ul{
	margin: 0 0 12px 35px;
	padding: 0;
	font-family: $defaultFont;

	&:last-child{ margin-bottom: 0; }

	li{
		font-family: $defaultFont;

		& *{
			font-family: $defaultFont;
		}
	}
}
// bulleted list : end

// numbered list : begin
ol{
	margin: 0 0 12px 35px;
	padding: 0;
	font-family: $defaultFont;

	&:last-child{ margin-bottom: 0; }

	li{
		font-family: $defaultFont;

		& *{
			font-family: $defaultFont;
		}
	}
}
// numbered list : end

// table : begin
table{
	width: 100%;
	margin-bottom: 14px;
	box-shadow: 0 0 16px 3px rgba(0, 0, 0, 0.1);
	font-family: $defaultFont;
	transition: all 0.2s ease;
	opacity: 0.5;

	&:hover{
		opacity: 1;
		transition: all 0.2s ease;
	}

	tr{

		th,
		td{
			padding: 10px 13px;
			text-align: left;
			border: 1px solid #e4e4e4;
			font-size: 90%;
		}

		th{
			font-weight: bold;
			font-size: 100%;
		}
	}

	&:last-child{ margin-bottom: 0; }
}
// table : end



