<!DOCTYPE HTML>
<html>
<head>
    <!-- BASE -->
    <meta charset="utf-8">
    <title>Landing to visit - Культура.рф</title>

    <!-- SEO -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- disable select tel. and skype numbers -->
    <meta name="format-detection" content="telephone=no">
    <meta name="skype-toolbar" content="skype-toolbar-parser-compatible">

    <!-- FAVICONS (http://favicon-generator.org) -->

    <!-- CSS -->
    <link rel="stylesheet" href="../dist/css/culture-project.css">

</head>
<body>
<!-- HEADER PAGE : begin -->
<header class="b-header">

    <!-- header top : begin -->
    <div class="b-header">

        <!-- header top : begin -->
        <div class="b-header__top">
            <div class="container">

                <!-- logotype -->
                <div class="b-header__logo"></div>

                <!-- navigation (primary) : begin -->
                <nav class="b-nav -primary">
                    <ul>
                        <li><a href="#">Посетить</a></li>
                        <li><a href="#">Читать</a></li>
                        <li><a href="#">Смотреть</a></li>
                        <li><a href="#">Спецпроекты</a></li>
                    </ul>
                </nav>
                <!-- navigation (primary) : end -->

            </div>
        </div>
        <!-- header top : end -->

    </div>
    <!-- header top : end -->

    <i></i>
</header>
<!-- HEADER PAGE : end -->
<!-- CONTENT PAGE : begin -->
<article class="b-section">
    <div class="container">
    </div>
</article>
<!-- CONTENT PAGE : end -->

<!-- FOOTER PAGE : begin -->
<footer class="b-footer">
    <div class="container">
    </div>
</footer>
<!-- FOOTER PAGE : end -->

<!-- JS -->
<script src="../dist/js/culture-project-base.js"></script>
<script src="../dist/js/culture-project-run.js"></script>
</body>
</html>